<div class="carddemoInCardActions" ng-controller="CreateCampaignCtrl">
	<div class="card__content card__padding">
		<div class="card radius shadowDepth1">
	<h1 id="titluRegister"> Creati o noua campanie pentru produsul <a ng-click="goToPoductPage(barcode)">{{productName}}</a></h1>
	<form class="list ng-pristine ng-valid" name="registration">
            <div class="ion-list">
             <label class="item item-input item-floating-label">
                <span class="input-label">Numele campaniei</span>
                <input type="text" placeholder="Numele campaniei" autocorrect="off" autocapitalize="off" ng-model="numeCampanie"></input>
              </label>
			  
              <label class="item item-input item-floating-label">
                <span class="input-label">Descrierea campaniei</span>
				<textarea id="textareaCampaign"  rows="4" col="50" placeholder="Descrierea campaniei" ng-model="descriereCampanie"></textarea>
              </label>

              <label class="item item-input item-floating-label">
                <span class="input-label">Linkul catre poza campaniei</span>
                <input type="text" placeholder="Linkul catre poza campaniei" autocorrect="off" auto autocapitalize="off" ng-model="pozaCampanie"></input>
              </label>
			  
            </div>
		</form>
		</div>
		<button class="button button  button-positive button-block"  ng-click="createCampaign()">Creati campania</button>
	</div>	
</div>