#logiinButton ,#register{
	font-weight:500;
	font-size:20px;
	border-radius:23px 23px 23px 23px;
}

.spacer{
	width: 283px;
	height: 146px;
}


.item-floating-label .placeholder-icon {
  padding-right: 18px;
  position: absolute;
  bottom: 9px;
  left: 17px;
}

.item-floating-label {
  padding-left: 40px !important;
}
